$color-background: #FBFBFC;
$color-header-text: #1B1B1E;
$color-text: #FBFBFC;
$color-navigation-text:#FBFBFC;
$color-border: #598053;
$color-active: #FBFBFC;
$color-header: #32322f;
$color-subheader: #1e221b;
$color-navigation: #1B1B1E;
$color-footer:#1B1B1E;
$color-underline:#E27272;

$color-header-gradient: linear-gradient($color-header, $color-background);
$color-button-gradient-accept: linear-gradient(#66b62d, #457c1e);
$color-button-gradient-decline: linear-gradient(#ae4848, #6d2727);
$color-button-hover:linear-gradient(#73cc33 ,#509023);

