@import "../../resources/variables.scss";

.grid-container{
    display: grid;
  grid-template-columns: auto auto auto auto auto auto;
 
  background-color: #2196F3;
  padding: 10px;
  > div {
    background-color: rgba(255, 255, 255, 0.8);
   
    
  }
  .logInBoxes {
    grid-column: 6/ 7;
  }
  .signedIn-grid{
    grid-column: 1/7;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: red;
   
    > div {
        background-color: rgba(255, 255, 255, 0.8);
        
   
      }
    .user-info{
        grid-column: 1/4;
        display: flex;
        img{
            
            border-radius: 20px;
            width: 20%;
            
        }
        .currentUserInfo{
            display: flex;
            flex-direction: column;
            justify-content: left;
            margin:10px;
        }
       
    }
   
    .right-div{
        grid-column: 6/7;
        background-color: green;
        .sign-out-button{
            border-radius: 10px;
            margin:auto;
            background-color: white;
            width:100px;
            margin-right: 0px;
            &:hover{
                background-color: gray;
            }
        }

    }
  }
  
}